<header>
    <h1><a href="/{{ site.RepositoryName }}">{{ site.Title }}</a></h1>
    <nav>
        <a href="/{{ site.RepositoryName }}">Home</a>
        <a href="/{{ site.RepositoryName }}/about">About</a>
    </nav>
</header>
