<header>
    <h1><a href="{{ site.BaseUrl }}">{{ site.Title }}</a></h1>
    <nav>
        <a href="{{ site.BaseUrl }}">Home</a>
        <a href="{{ site.BaseUrl }}/about">About</a>
    </nav>
</header>
